body {
    padding-top: 20px;
    background-color: #202020;
}

h1 {
    color: #E5E5E5;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.wrapper input {
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    height: 40px;
}

.wrapper span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.wrapper span select {
    background-color: #263648;
    color: #fff;
    font-size: inherit;
    padding: 10px;
    width: 100%;
    border: 0;
    margin: 0;
    border-radius: 0px;
    text-indent: 0.01px;
    text-overflow: '';
}

.wrapper span::before,
.wrapper span::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.wrapper span::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.5em;
    top: 50%;
    margin-top: -.5em;
    color: #fff;
}

.wrapper span::before {
    width: 2.5em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    background-color: #202E3C;
}

.side-a,
.side-b {
    float: left;
    margin-top: 10px;
    box-sizing: border-box;
    width: 45%;
}

.equals {
    float: left;
    box-sizing: border-box;
    width: 10%;
    color: #FFF;
    font-size: 2.4em;
    line-height: 0;
    text-align: center;
}

.side-a {
    padding-right: 10px;
}

.side-b {
    padding-left: 10px;
}